/* YOUR CSS HERE */

.container {
  border: 2px solid black;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
  width: 700px;
  min-height: 100px;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.tweets {
  background-color: rgb(134, 202, 236);
  border: 1px solid black;
  flex-wrap: wrap;
  margin: 10px;
}

.twitterHandle {
  background-color: white;
  font-size: 15pt;
  color: rgb(0, 32, 158);
  margin-left: 5px;
}

.message {
  color: blue;
  margin-left: 15px;
}

.time-stamp {
  margin-left: 15px;

}

.header {

}