/* YOUR CSS HERE */

.container {
  border: 2px solid black;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.tweets  {
  background-color: blue;
}

.header {

}